boot/config-*
boot/System.map-*
lib/modules/{{abiname}}{{localversion}}/modules.builtin
lib/modules/{{abiname}}{{localversion}}/modules.builtin.modinfo
lib/modules/{{abiname}}{{localversion}}/modules.order
{% if config.build.enable_dtb %}
lib/modules/{{abiname}}{{localversion}}/dtb        usr/lib/modules/{{abiname}}{{localversion}}
{% endif %}
