# Media and video driver configurations

# Disable DVB_USB_AF9005 driver due to missing af9005-script.h header
# which is required for compilation but not present in the kernel source tree
# CONFIG_DVB_USB_AF9005 is not set
# CONFIG_DVB_USB_AF9005_REMOTE is not set

# Disable old framebuffer drivers that are missing from kernel source tree
# CONFIG_FB_RIVA is not set
# CONFIG_FB_NVIDIA is not set
