# Disable drivers that are excluded by debian/copyright Files-Excluded
#
# These drivers have licensing issues and their source code is removed
# during package download by uscan. Attempting to build them will fail
# with "No such file or directory" errors.
#
# Excluded in debian/copyright:
#   drivers/video/fbdev/nvidia
#   drivers/video/fbdev/riva

# CONFIG_FB_NVIDIA is not set
# CONFIG_FB_RIVA is not set
