CONFIG_DRM_I915=m

# For sriov save-restore feature
CONFIG_I915_VFIO_PCI=m

# Enable Xe for BMG and other platforms
CONFIG_DRM_XE=m
CONFIG_DRM_XE_DISPLAY=y
CONFIG_DRM_XE_FORCE_PROBE=""

# Simple DRM in module
CONFIG_DRM_SIMPLEDRM=m
