# Enable RT config for ECI

CONFIG_X86_CPU_RESCTRL=y
CONFIG_NET_SCH_CBS=m
CONFIG_NET_SCH_SKBPRIO=m
CONFIG_NET_SCH_CAKE=m
CONFIG_NET_SCH_HHF=m
CONFIG_NET_SCH_PIE=m
CONFIG_NET_ACT_SIMP=m
CONFIG_NET_ACT_VLAN=m
CONFIG_NET_ACT_CONNMARK=m
CONFIG_NET_ACT_SKBMOD=m
CONFIG_PCIE_PTM=y
CONFIG_IPVTAP=m
CONFIG_MARVELL_10G_PHY=m
CONFIG_MAXLINEAR_GPHY=m
CONFIG_DP83867_PHY=m
CONFIG_CAN_VCAN=m
CONFIG_CAN_M_CAN=m
CONFIG_CAN_M_CAN_PLATFORM=m
CONFIG_CAN_M_CAN_PCI=m
CONFIG_CAN_PEAK_PCIEFD=m
CONFIG_CAN_SJA1000=m
CONFIG_CAN_PEAK_PCI=m
CONFIG_CAN_PEAK_PCIEC=y
CONFIG_CAN_MCP251XFD=m

CONFIG_WWAN=y
CONFIG_MTK_T7XX=m
CONFIG_SPI=y
# CONFIG_IO_STRICT_DEVMEM is not set
