# Switch kernel compression method from gzip to zstd which will save about 2M kernel size.

# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_ZSTD=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_CRYPTO_ZSTD=y
