CONFIG_INTEL_TDX_GUEST=y
CONFIG_INTEL_TDX_HOST=y
CONFIG_TDX_GUEST_DRIVER=y
CONFIG_ARCH_HAS_CC_PLATFORM=y
CONFIG_X86_MEM_ENCRYPT=y
CONFIG_ALLOC=y
CONFIG_KVM_GENERIC_MEMORY_ATTRIBUTES=y
CONFIG_KVM_SW_PROTECTED_VM=y
CONFIG_KVM_PRIVATE_MEM=y
CONFIG_KVM=m
COMPILE_TEST=y
CONFIG_DRM_ETNAVIV=y
# CONFIG_OF is not set
CONFIG_CONTIG_ALLOC=y
CONFIG_KVM_INTEL=m
CONFIG_X86_X2APIC=y
CONFIG_TSM_REPORTS=y
CONFIG_VIRT_DRIVERS=y
CONFIG_INTEL_TXT=y
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m
CONFIG_INTEL_MEI_TXE=m
CONFIG_INTEL_MEI_HDCP=m
CONFIG_INTEL_MEI_IAF=m
CONFIG_INTEL_MEI_GSC_PROXY=m
CONFIG_WATCHDOG_CORE=y
CONFIG_INTEL_MEI_WDT=m
CONFIG_NFC=m
CONFIG_NFC_HCI=m
CONFIG_NFC_MEI_PHY=m
CONFIG_NFC_PN544=m
CONFIG_NFC_PN544_MEI=m
CONFIG_NFC_MICROREAD=m
CONFIG_NFC_MICROREAD_MEI=m
CONFIG_INTEL_SSEI=m
CONFIG_INTEL_SSEI_HW_HECI=m
CONFIG_INTEL_SSEI_HW_SIM=m
CONFIG_INTEL_SSEI_HW_SIM_PLATFORM=m
CONFIG_INTEL_MEI_CSC=m
CONFIG_INTEL_MEI_VSC_HW=m
CONFIG_INTEL_MEI_VSC=m
CONFIG_INTEL_MEI_LB=m
CONFIG_INTEL_MEI_VIRTIO=m
CONFIG_INTEL_MEI_BUS_DMA_TEST=m
