# RT Kernel Parameters Configuration
# This file is sourced by /etc/grub.d/12_linux_rt_xen
# Parameters here are ONLY applied to RT kernel menu entries

# RT_KERNEL_PARAMS will be populated by the RT kernel package postinst
# Example: RT_KERNEL_PARAMS="isolcpus=1-3 nohz_full=1-3 rcu_nocbs=1-3"

RT_KERNEL_PARAMS="__RT_PARAMS_PLACEHOLDER__"
