CONFIG_WERROR=y
CONFIG_SCHED_CORE=y

# CONFIG_RSEQ is not set
# CONFIG_CACHESTAT_SYSCALL is not set

# CONFIG_KEXEC is not set
# CONFIG_KEXEC_FILE is not set

# CONFIG_CRASH_DUMP is not set

# CONFIG_X86_IOPL_IOPERM is not set

# CONFIG_X86_MSR is not set

CONFIG_X86_KERNEL_IBT=y
CONFIG_X86_USER_SHADOW_STACK=y
# CONFIG_LIVEPATCH is not set

CONFIG_MITIGATION_RFDS=y
CONFIG_MITIGATION_SPECTRE_BHI=y

CONFIG_ACPI_NFIT=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y

# CONFIG_MODULE_FORCE_LOAD is not set

# CONFIG_BINFMT_MISC is not set
# CONFIG_COREDUMP is not set

CONFIG_RANDOM_KMALLOC_CACHES=y
# CONFIG_MEM_SOFT_DIRTY is not set

# CONFIG_USERFAULTFD is not set
# CONFIG_LEGACY_TIOCSTI is not set
# CONFIG_DEVMEM is not set
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
# CONFIG_IOMMU_DEFAULT_DMA_LAZY is not set

CONFIG_BLK_DEV_PMEM=y
# CONFIG_XFS_SUPPORT_V4 is not set

# CONFIG_PROC_KCORE is not set
# CONFIG_PROC_PAGE_MONITOR is not set

# CONFIG_SUNRPC_DEBUG is not set

CONFIG_STATIC_USERMODEHELPER=y

# CONFIG_SECURITY_LOCKDOWN_LSM is not set

CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_GCC_PLUGIN_STACKLEAK=y

# CONFIG_STACKLEAK_RUNTIME_DISABLE is not set

CONFIG_RANDSTRUCT_NONE=y

# CONFIG_KGDB is not set
# CONFIG_KGDB_HONOUR_BLOCKLIST is not set
# CONFIG_KGDB_SERIAL_CONSOLE is not set

# CONFIG_KDB_DEFAULT_ENABLE is not set
# CONFIG_KDB_CONTINUE_CATASTROPHIC is not set

CONFIG_UBSAN=y
CONFIG_UBSAN_BOUNDS=y
CONFIG_UBSAN_TRAP=y
# CONFIG_UBSAN_ENUM is not set
# CONFIG_UBSAN_BOOL is not set
# CONFIG_UBSAN_SHIFT is not set
CONFIG_UBSAN_SANITIZE_ALL=y

CONFIG_PAGE_TABLE_CHECK=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y

CONFIG_DEBUG_VIRTUAL=y

CONFIG_KFENCE=y
CONFIG_KFENCE_SAMPLE_INTERVAL=100

# CONFIG_LATENCYTOP is not set
# CONFIG_BLK_DEV_IO_TRACE is not set

# CONFIG_HIST_TRIGGERS is not set

# CONFIG_IO_URING is not set
# CONFIG_IO_WQ is not set
